table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div button-div {
  margin: 5px 0px 0px 10px !important;
}

.tableClass {
  padding-bottom: 20px;
}

.buttonDiv {
  padding: 5px;
}

.mainbuttonDiv {
  padding-bottom: 5px;
}
